<br />
<div class="container light-background form-area">
    <br />
    <h1 class="text-3xl">Register</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" placeholder="Email address" class="form-control light-background"
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Can't be empty</div>
            </div>            
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" placeholder="Password" class="form-control light-background"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Can't be empty</div>
            </div>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="!f['password'].errors['match']">Do not match</div>
            </div>
        </div>

        <div class="form-group">
            <label for="repeatPassword">Password</label>
            <input type="password" formControlName="repeatPassword" placeholder="Repeat Password" class="form-control light-background"
                [ngClass]="{ 'is-invalid': submitted && f['repeatPassword'].errors }" />
            <div *ngIf="submitted && f['repeatPassword'].errors" class="invalid-feedback">
                <div *ngIf="!f['repeatPassword'].errors['match']">Do not match</div>
            </div>
        </div>

        <div class="form-group">
            <br />
            <div class="container d-flex justify-content-center">
                <button [disabled]="loading" class="btn btn-primary w-100">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Create an account
                </button>
            </div>
            <br />
            <div class="container d-flex justify-content-center">
                <p>Already have an account? <a [routerLink]="['/auth/login']" class="text-blue-600">Login</a></p>
            </div>
        </div>
    </form>
    <br />
</div>