<header>
    <nav class="px-6 py-4 shadow-md bg-slate-900">
      <div class="container mx-auto flex justify-between items-center">

        <a class="flex items-center mr-12" [routerLink]="['/']">
          <!-- HOME SVG HERE -->
          <svg width="33" height="27" xmlns="http://www.w3.org/2000/svg">
            <path d="m26.463.408 3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-1.6a3.186 3.186 0 0 0-3.184 3.2l-.016 19.2a3.2 3.2 0 0 0 3.2 3.2h25.6a3.2 3.2 0 0 0 3.2-3.2V.408h-6.4Z" fill="#FC4747"/>
          </svg>
        </a>

        <div class="flex-1 flex justify-center items-center">
          <ul class="w-full flex justify-evenly">
            
            <!-- MENU <li> ELEMENTS HERE -->
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/media/trending']" routerLinkActive #trending="routerLinkActive">
                    <!-- Relevant SVG -->
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                    <path *ngIf="trending.isActive" d="M8 0H1C.4 0 0 .4 0 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1Zm0 11H1c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1v-7c0-.6-.4-1-1-1ZM19 0h-7c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1Zm0 11h-7c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1v-7c0-.6-.4-1-1-1Z" fill="#FFF"/>
                    <path *ngIf="!trending.isActive" d="M8 0H1C.4 0 0 .4 0 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1Zm0 11H1c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1v-7c0-.6-.4-1-1-1ZM19 0h-7c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1Zm0 11h-7c-.6 0-1 .4-1 1v7c0 .6.4 1 1 1h7c.6 0 1-.4 1-1v-7c0-.6-.4-1-1-1Z" fill="#5A698F"/>
                    </svg>
                </a>
                </li>
  
          </ul>
        </div>
      </div>
    </nav>
</header>